html{
    background-color: #071013;
    color: white;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}

.subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    color: #75ABBC;
    text-align: center;
    top: 10%;
    left: 44%;
    position: absolute;
}

.center {
    margin-left: 4%;
    margin-right: 14%;
}

.checkoutTable{
    border-collapse: collapse;
    width: 100%;
    margin-top: 8%;
    text-align: left;
}

.tableHeaderTextPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 2px solid cornflowerblue;
    color: #75ABBC;

    width: 110px;
    text-align: center;
}

.tableHeaderTextQuantity{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 2px solid cornflowerblue;
    color: #75ABBC;

    width: 50px;
    text-align: center;
}

.tableHeaderTextName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 2px solid cornflowerblue;
    color: #75ABBC;

    width: 300px;
}

.back {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 80%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 20px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}

.buyNow {
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 24px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
    position: absolute;
    left: 48%;
    top: 60%;
}
.totalPriceBox{
    width: 90px;
    height: 20px;
    resize: none;

    margin: 0;
    position: absolute;
    bottom: 82%;
    left: 84%;
}

.totalPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #75ABBC;

    margin: 0;
    position: absolute;
    bottom: 82%;
    left: 78%;
}

.addCard{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 80%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 25px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}



.cardDetails{
    top: 40%;
    left: 20%;
}

.titleText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #75ABBC;
}

.underscore{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-bottom: 2px solid cornflowerblue;
    color: #75ABBC;
}

.buyNow{
    margin: 0;
    position: absolute;
    top: 75%;
    left: 80%;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 25px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}
