html{
    background-color: #071013;
    color: white;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}

.subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    color: #75ABBC;
    text-align: center;
    top: 10%;
    left: 47%;
    position: absolute;
}

.container{
    height: 800px;
    width: 1200px;
    position: relative;
}

.center {
    left: 49%;
    position: absolute;
    top: 22%;
}

.middleBody {
    left: 10%;
    position: absolute;
    width: 80%;
    height: 600px;
    text-align: center;
}

.back {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 8%;
}

.remove {
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}

.buyNow {
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 24px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
    position: absolute;
    left: 48%;
    top: 60%;
}
.totalPriceBox{
    resize: none;
}
.tableHeaderTextPrice{
    text-align: center;
}