html{
    background-color: #071013;
}
.cotainer{
    width:800px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}
.login{
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    color: #75ABBC;
}
.createAccount{  
    padding-top: 10px;
    padding-right: 10px;
    float:right;
    color: #75ABBC;
}
.gridContainer{
    width: 100vw;
    grid-template-columns: repeat(10, 1fr);
    margin:0;
    display: grid;
}
.gridItem{
    text-align: center;
    padding-top: 10px;
    display: grid;
    transition: 10ms;
}
.gridItem p{
    color: #75ABBC;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.gridItem img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.gridItem:hover{
    transition: 10ms;
    background-color: cornflowerblue;
}