html{
    background-color: #071013;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}

.body{
    width: 100%;
}

.loginText{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 60px;
    color: #75ABBC;
}

.loginTable{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.loginHead{
    font-family: Arial, Helvetica, sans-serif;
    color: #75ABBC;
}

.loginBox{
    width: 250px;
}

.loginPageButton{
    margin: 0;
    position: absolute;
    bottom: 50%;
    left: 52%;
    transform: translate(-50%, -50%);

    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 50px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}

.loginPageBackButton{
    margin: 0;
    position: absolute;
    top: 13%;
    left: 71%;
    transform: translate(-2%, -50%);

    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 24px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}

.loginOwnerButton{
    margin: 0;
    position: absolute;
    bottom: 45%;
    left: 52%;
    transform: translate(-50%, -50%);

    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 20px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}
