html{
    background-color: #071013;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}
.container{
    height: 800px;
    width: 100%;
    position: relative;
}
.back {
    position: absolute;
    left: 2%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
}
.viewOrders {
    position: absolute;
    left: 90%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
}
.addProductButton {
    position: absolute;
    left: 2%;
    top: 14%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
}
.gridItem {
    color: white;
}
.gridContainer{
    left: 30%;
    position: absolute;
}

.header {
    color: white;
}
