html{
    background-color: #071013;
}
.container{
    width:800px;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}
.container{
    height: 800px;
    width: 100%;
    position: relative;
}
.back {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 80%;

    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 28px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}

.orderItem {
    color: white;
}
.center {
    left: 20%;
    position: absolute;
}
.button {
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 3px 14px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}
.tableHeaderText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #75ABBC;
    border-bottom: 2px solid cornflowerblue;
}
.tableHeaderTextState{
    width: 50px;
    text-align: center;
}

.tableHeaderTextProduct{
    width: 150px;
    text-align: center;
}

.tableHeaderTextId{
    width: 90px;
    text-align: center;
}


