html{
    background-color: #071013;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}
.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #75ABBC;
    color: #75ABBC;
}
.container{
    height: 800px;
    width: 100%;
    position: relative;
}
.back {
    margin: 0;
    position: absolute;
    top: 11%;
    left: 80%;

    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 5px 26px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;
}
.productTable {
    top: 20%;
    left: 20%;
    position: absolute;
}
.title {
    color: #75ABBC;
    text-align: left;
}
.buttonAddProduct {
    background-color: #23B5D3;
    color: #071013;
    border-radius: 4px;
    padding: 7px 25px;
    background-image: linear-gradient(#75ABBC, #23B5D3);
    font-weight: bold;

    margin: 0;
    position: absolute;
    top: 60%;
    left: 35%;
}
.pageTitle {
    position: absolute;
    left: 25%;
    top: 10%;
    color: white;
}
.bigBox {
    padding-bottom: 40px;
    padding-right: 80px;
    width: 250px;
    height: 70px;
}
.smallBox {
    padding-right: 80px;
    width: 250px;
}

.pageTitle{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
    left: 29%;
}
