html{
    background-color: #071013;
}
.container{
    height: 1000px;
    width: 100%;
    position: relative;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    color: #75ABBC;
}

.subText{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: auto;
    padding-bottom: 10px;
    color: #75ABBC;
    border-bottom: 2.5px solid #75ABBC;
}

.pageText {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 100px;
    color: #75ABBC;
}
.pageText p{
    font-style: italic;
    text-decoration: underline;
}

.back {
    position: absolute;
    left: 2%;
    top: 6%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
}

.addToCart {
    position: absolute;
    left: 50%;
    bottom: 45%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#353535, cornflowerblue);
    color: white;
    border-radius: 4px;
    padding: 10px;
}

.center {
    left: 50%;
    /*text-align: center;*/
}

.productImage {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 200px;
}