<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/accountcreation.css">
    <script type="text/javascript" src="/createaccount.js"></script>
    <title>Account Creation</title>
</head>
<body>

<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">Not a cult</p>
</div>

<form method="GET" action="/">
    <button type="submit" class="loginPageBackButton">Back</button>
</form>


<form>
    <h3 class="loginText">Create an account</h3>

    <table class="loginTable">
        <tr>
            <th class="loginHead">
                Username:
            </th>

            <td>
                <input type="text" id="loginBoxUsername">
            </td>
        </tr>

        <tr>
            <th class="loginHead">
                Password:
            </th>

            <td>
                <input type="password" id="loginBox">
            </td>
        </tr>

    </table>

    <button type="submit" class="loginPageButton" onclick="createCustomer()">Create Customer Account</button>
    <button type="submit" class="loginPageButtonOwner" onclick="createOwner()">Create Owner Account</button>

</form>


</body>
</html>
