<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/accountcreation.css">
    <title>login</title>
</head>
<body>

<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">Not a cult</p>
</div>

<form method="GET" action="/gallery">
    <button type="submit" class="loginPageBackButton">Back</button>
</form>


<form method="POST" action="/accountcreation">
    <h3 class="loginText">Login into existing account</h3>

    <table class="loginTable">
        <tr>
            <th class="loginHead">
                Username:
            </th>

            <td>
                <input type="text" class="loginBox" name="username">
            </td>
        </tr>

        <tr>
            <th class="loginHead">
                Password:
            </th>

            <td>
                <input type="text" class="loginBox" name="password">
            </td>
        </tr>

    </table>

    <button type="submit" class="loginPageButton">Login</button>

</form>


</body>
</html>
