<link rel="stylesheet" href="/checkout.css">
<script type="text/javascript" src="checkout.js"></script>

<h1 class="titleText">Please input your card details below</h1>

<table id="cardInfoTable">

    <tbody>
    <tr>
        <th class="underscore">Card number</th>
        <th class="underscore">CVC</th>

    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>

    <tr>
        <th class="underscore">Expiry Date</th>

    </tr>
    <tr>
        <td><input type="text"></td>
    </tr>
    </tbody>
</table>
