
<head>
    <link rel="stylesheet" href="/checkout.css">
</head>
<p class="titleText">Please input your card details below</p>


        <th class="underscore">Card number</th>
        <th class="underscore">CVC</th>


        <td><input type="text"></td>
        <td><input type="text"></td>


        <th class="underscore">Expiry Date</th>


        <td><input type="text"></td>


        <td>
            <form method="GET" action="/paymentPage">
                <button type="submit" class="buyNow">Buy Now</button>
            </form>
        </td>


