<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/cart.css">
    <title>cart</title>
</head>
<body>

<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">BUY PLEASE</p>
</div>

<form method="GET" action="/gallery">
    <button type="submit" class="cartPageBackButton">Back</button>
</form>

<div class="tableContainer">
    <table class="cartTable">
        <tr class="tableHeaderText">
            <th class="tableHeaderTextName">
                Name
            </th>

            <th class="tableHeaderTextQuantity">
                Quantity
            </th>

            <th class="tableHeaderTextPrice">
                Price
            </th>
        </tr>

        <tr>
            <td>

            </td>
        </tr>

        <tr>
            <td>
                <p class="totalPrice">Total Price:</p>
                <textarea readonly class="totalPriceBox" name="priceBox"></textarea>
            </td>

        </tr>

    </table>

    <form method="GET" action="/checkout">
        <button type="submit" class="cartBuyButton">Buy</button>
    </form>

</div>



</body>
</html>
