<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="cart" type="java.util.List<app.Product>"/-->
<!--/@thymesVar id="total" type="int"/-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/cart.css">
    <title>Cart</title>
</head>
<body>

<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">BUY PLEASE</p>
</div>

<form method="GET" action="/">
    <button type="submit" class="cartPageBackButton">Back</button>
</form>

<div class="tableContainer">
    <table id="cartTable">
        <tr class="tableHeaderText">
            <th class="tableHeaderTextName">
                Name
            </th>

            <th class="tableHeaderTextQuantity">
                Quantity
            </th>

            <th class="tableHeaderTextPrice">
                Price
            </th>
        </tr>

        <tr th:each="product : ${cart}" th:id="|cartItem_${product.id}|" class="cartItem">
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <button class="removeButton" th:onclick="|removeProduct(${product.id})|">Remove</button>
            </td>
        </tr>

        <tr>
            <td>
                <p class="totalPrice">Total Price:</p>
                <textarea readonly class="totalPriceBox" name="priceBox" th:text="${total}"></textarea>
            </td>

        </tr>

    </table>

    <div class="buttonCart">
        <form class="cartBuyButton" method="GET" action="/checkout">
            <button type="submit">Checkout</button>
        </form>
    </div>

</div>



</body>
</html>
