<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/cart.css">
    <title>cart</title>
</head>
<body>

<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">Just a regular store</p>
</div>

<div class="tableContainer">
    <table class="cartTable">
        <tr class="tableHeaderText">
            <th class="tableHeaderTextName">
                Name
            </th>

            <th class="tableHeaderTextQuantity">
                Quantity
            </th>

            <th class="tableHeaderTextPrice">
                Price
            </th>
        </tr>

        <tr>


        </tr>

    </table>
</div>


</body>
</html>