<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="customer" type="java.util.List<app.Customer>"/-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/checkout.css">
    <title>Checkout</title>
</head>
<body>
<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">bottom text</p>

    <!-- List items from shopping cart, provide payment button. Card input? -->
    <p class="subTitle">Checkout</p>

    <div class="center">
        <table id="Items">
            <thead>
            <tr>
                <th class="subText">Items in Cart</th>
                <th class="underscore"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${customer.kart}" th:id="|row_${item.id}|">
                <td th:text="${item.type}"></td>
                <!-- Number of the item and price should be included-->
                <td><button th:onclick="|removeItem(${item.id})|" class="remove">Remove</button></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div>
        <form method="GET" action="/">
            <button type="submit" class="back">Return To Gallery</button>
        </form>

        <form method="GET" action="/paymentPage">
            <button type="submit" class="buyNow">Buy Now</button>
        </form>
    </div>

    <div id="card">

    </div>
</div>
</body>
</html>