<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/gallery.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h3 class="title">Amazon't</h3>
        <p class="subText">Just a regular store</p>
        <form method="GET" action="/createAccount" class="createAccount">
            <button type="submit">Create Account</button>
        </form>
        <form method="GET" action="/login" class="login">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
