<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="products" type="java.util.ArrayList<app.Product>"/-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/gallery.css">
    <title>Title</title>
</head>
<body>
    <h3 class="title">Amazon't</h3>
    <p class="subText">Just a regular store</p>
    <form method="GET" action="/createAccount">
        <button type="submit" class="createAccount">Create Account</button>
    </form>
    <form method="GET" action="/login" >
        <button type="submit" class="login">Login</button>
    </form>
    <div class="container">
        <br>
        <br>
        <div class="gridContainer">
            <div class="gridItem" th:each="product : ${products}">
                <p th:text="${product.name}"></p>
                <p th:text="${product.price}"></p>
            </div>
        </div>
    </div>
    </div>
</body>
