<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="owners" type="java.util.Map<java.lang.Integer, app.Owner>"/-->
<!--/@thymesVar id="customers" type="java.util.Map<java.lang.Integer, app.Customer>"/-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>login</title>
</head>
<body>

<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">Go on, DO IT</p>
</div>

<form method="GET" action="/">
    <button type="submit" class="loginPageBackButton">Back</button>
</form>

    <h3 class="loginText">Login into existing account</h3>

    <table class="loginTable">
        <tr>
            <th class="loginHead">
                Username:
            </th>

            <td>
                <input type="text" class="loginBox" name="usernameBox">
            </td>
        </tr>

        <tr>
            <th class="loginHead">
                Password:
            </th>

            <td>
                <input type="text" class="loginBox" name="passwordBox">
            </td>
        </tr>

    </table>

<div class="buttonCustomer" th:each="kv : ${customers}">

    <a class="loginPageButton" th:href="'/customer/'+${kv.value.id}">Login</a>

</div>


<div class="buttonOwner" th:each="kv : ${owners}">

  <a class="loginOwnerButton" th:href="'/owner/'+${kv.value.id}">Login as Owner</a>

</div>

</body>
</html>
