<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="products" type="java.util.list<app.Product>"/-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/owner.css">
    <script type="text/javascript" src="owner.js"></script>
    <title>Owner</title>
</head>
<body>
<h3 class="title">Amazon't</h3>
<p class="subText">Just a regular store</p>

<form method="GET" action="/gallery">
    <button type="submit" class="back">Back</button>
</form>

<div>
    <button class="addProductButton" th:href="'/productCreation'">Add product</button>
</div>

<form method="GET" action="/owner/orders">
    <button type="submit" class="viewOrders">View Orders</button>
</form>


<div class="container">
    <div class="gridContainer">
        <div class="gridItem" th:each="product : ${products}">
            <p th:text="${product.name}"></p>
            <p th:text="${product.price}"></p>
            <p th:text="${product.hidden}"></p>

            <button th:onclick="|removeProduct(${product.id})|" class="button">Remove</button>
            <button th:onclick="|editProduct(${product.id})|" class="button">Edit</button>
            <button th:onclick="|hideProduct(${product.id})|" class="button">Hide</button>

        </div>


    </div>
</div>
</div>
</body>
</html>