<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="orders" type="java.util.list<app.Order>"/-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/ownerOrders.css">
    <script type="text/javascript" src="/ownerOrders.js"></script>
    <title>Orders</title>
</head>
<body>
<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">Current Order List</p>

    <!-- List items from shopping cart, provide payment button. Card input? -->
    <p class="subTitle">Checkout</p>

    <div class="center">
        <table id="ownerTable">
            <tr class="tableHeaderText">
                <th class="tableHeaderTextId">
                    Order Id
                </th>

                <th class="tableHeaderTextProduct">
                    Product
                </th>

                <th class="tableHeaderTextState">
                    State
                </th>
            </tr>

            <tr th:each="order : ${orders}" th:id="|row_${order.id}|" class="orderItem">
                <td th:text="${order.id}"></td>
                <td th:text="${order.productId}"></td>
                <td th:text="${order.state}"></td>

                <td>
                    <select name="stateSelection" id="state">
                        <option value="new">New</option>
                        <option value="shipped">Shipped</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="delivered">Delivered</option>
                    </select>
                </td>

                <td><button th:onclick="|setState(${order.id})|" class="button">Change State</button></td>
            </tr>
        </table>

    </div>

    <div>
        <form method="GET" action="/owner">
            <button type="submit" class="back">Back</button>
        </form>
    </div>

</div>
</body>
</html>
