<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/paymentPage.css">
    <title>Checkout</title>
</head>
<body>
<div class="container">
    <h3 class="title">Amazon't</h3>
    <p class="subText">bottom text</p>

    <div class="sideAds">
        <p class="leftAdImage"><img src="../static/images/funkymonkey.png" alt="l"/></p>
    </div>

    <div class="middleBody">
        <p class="transactionImage"><img src="../static/images/funkymonkey.png" alt="l"/></p>
        <p class="message">You've been epically pwned. Thanks for your card details</p>

        <form method="get" action="/">
            <button type="submit" class="back">Return To Gallery</button>
        </form>
    </div>

    <div class="sideAds">
        <p class="rightAdImage"><img src="../static/images/funkymonkey.png" alt="l"/></p>
    </div>
</div>
</body>
</html>