<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <script type="text/javascript" src="owner.js"></script>
</head>
<body>
    <container>
        <h1>New Product</h1>

        <table class="productTable">
            <tr>
                <th class="productHead">
                    Product name:
                </th>

                <td>
                    <input type="text" id="nameBox" name="nameBox">
                </td>
            </tr>

            <tr>
                <th class="loginHead">
                    Product description:
                </th>

                <td>
                    <input type="text" id="descriptionBox" name="descriptionBox">
                </td>
            </tr>

            <tr>
                <th>
                   Unit price:
                </th>

                <td>
                    <input type="number" id="price" name="price">
                </td>
            </tr>

        </table>

        <div class="buttonaddProduct">
            <button onclick="addProduct()">Add product</button>
        </div>

        <div>
            <form method="GET" action="/">
                <button type="submit" class="Back">Back</button>
            </form>
        </div>


    </container>
</body>
</html>