<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<!--/@thymesVar id="product" type="app.Product"/-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Details</title>
    <link rel="stylesheet" href="/productEdit.css">
    <script type="text/javascript" src="/productEdit.js"></script>
</head>
<body>
<h3 class="title">Amazon't</h3>
<p class="subText">Just a regular store</p>

<form method="GET" action="/owner">
    <button type="submit" class="back">Back</button>
</form>

<h1 class="titleTextLeft">Current Product</h1>

            <table class="productLeftCol">
                <tbody>
                <tr>
                    <th class="title">Name</th>

                    <td th:text="${product.name}"></td>
                </tr>
                <tr>
                    <th class="title">Product description</th>

                    <td th:text="${product.description}"></td>
                </tr>
                    <th class="title">Price</th>

                    <td th:text="${product.price}"></td>
                </tr>
                </tbody>
            </table>


        <form method="POST" th:action="|/owner/product/edit/${product.id}|">
            <table class="productRightCol">
                <tbody>
                <tr>
                    <th class="title">
                        Product name:
                    </th>

                    <td>
                        <input type="text" id="nameBox" name="nameBox" class="smallBox">
                    </td>
                </tr>

                <tr>
                    <th class="title">
                        Product description:
                    </th>

                    <td>
                        <input type="text" id="descriptionBox" name="descriptionBox" class="bigBox">
                    </td>
                </tr>

                <tr>
                    <th class="title">
                        Unit price:
                    </th>
                    <td>
                        <input type="number" id="price" name="price" class="smallBox">
                    </td>
                </tr>
                </tbody>

            </table>
            <button type="submit" class="button">Save Changes</button>
        </form>





</body>
</html>